<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Friends</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Friends</h1>
    <h3>Pending Requests</h3>
    <% currentUser.friendRequests.forEach(requester => { %>
      <div class="friend-request">
        <span><%= requester.username %></span>
        <form action="/accept-request/<%= requester._id %>" method="POST" style="display:inline;">
          <button type="submit">Accept</button>
        </form>
      </div>
    <% }) %>

    <h3>All Users</h3>
    <% users.forEach(user => { %>
      <% if (user._id.toString() !== currentUser._id.toString()) { %>
        <div class="user-list">
          <span><%= user.username %></span>
          <form action="/send-request/<%= user._id %>" method="POST" style="display:inline;">
            <button type="submit">Add Friend</button>
          </form>
        </div>
      <% } %>
    <% }) %>
  </div>
</body>
</html>