<!DOCTYPE html>
<html>
<head>
  <title>Mossy</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="pastel-bg">
  <%- include(content) %> <!-- This is what will load index, login, profile, etc -->
</body>
</html>
