<link rel="stylesheet" href="/css/mossbook.css">


<div class="moss-page" style="text-align: center;">
    <h2>Your Mossbooks</h2>
  
    <% if (mossbooks && mossbooks.length > 0) { %>
      <% mossbooks.forEach(book => { %>
        <div style="margin: 1rem auto;">
          <h3><%= book.title %></h3>
          <% if (book.coverImage) { %>
            <img src="<%= book.coverImage %>" style="max-height: 100px;" />
          <% } %>
          <br>
          <a href="/mossbook/<%= book._id %>/page/0">📖 Open</a>
        </div>
      <% }) %>
    <% } else { %>
      <p>No Mossbooks yet. Go make one!</p>
    <% } %>
  </div>
  
  
  <% }) %>
<% } %>
